*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #F3EFEC;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;
  --main-font: 'Raleway';
  --accent-font: 'STIX Two Text';
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

button:focus,
a:focus {
  outline: none;
}

button:focus-visible,
a:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}

button:disabled {
  pointer-events: none;
}

button:hover,
a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #B3B3B3;
  --accent-color: transparent;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font), 'Helvetica', 'Arial', sans-serif;
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
  border-block: 1px solid currentColor;
}

.header__theme-toggler {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.header__theme-button {
  font-family: inherit;
  color: currentColor;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font-size: 18px;
}

.header__theme-button_is-active {
  font-weight: 700;
}

.header__theme-button_is-active::after {
  content: '';
  position: absolute;
  left: 5%; 
  right: 5%;
  top: 60%;
  height: 0.4em;
  background-color: var(--accent-color);
  z-index: -1;
} 

.theme_dark .header__theme-button_is-active::after {
  content: '';
  background: url('../images/pattern.svg');
}

.content-section {
  padding-inline: 5vi;
}

.heading {
  font-family: var(--accent-font), 'Times New Roman', serif;
  line-height: 90%;
  font-weight: 600;
  text-align: center;
}

.header {
  padding-block-start: 10%;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  padding-block-end: 40px;
}

.content__title {
  font-size: 30px;
  padding-block-start: 7%;
  padding-block-end: 2.5%;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block a {
  color: inherit;
}

.content__text-block .content__paragraph:not(:last-child) {
  margin-block-end: 1.5em;
}

.content__blockquote {
  width: 75%;
  padding-block-end: 1.5em;
  font-style: italic;
  line-height: 200%;
  margin: 0 auto;
}

.content__list {
  list-style: none;
  padding-inline-start: 14px;
  font-size: 18px;
  line-height: 110%;
}

.content__list li {
  position: relative;
  padding-left: 25px;
}

.content__list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background: url('../images/marker-light.svg') no-repeat center;
  background-size: 15px 15px;
}

.theme_dark .content__list li::before {
  content: '';
  background: url('../images/marker-dark.svg') no-repeat center;
  background-size: 15px 15px;
}

.content__list li:not(:last-child) {
  padding-block-end: 12px;
}

.content__text-block_type_first-lettered .content__paragraph:first-child::first-letter {
  background-color: var(--accent-color);
  font-size: 30px;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 1px;
  display: inline-block;
  font-weight: 700;
}

.theme_dark .content__text-block_type_first-lettered .content__paragraph:first-child::first-letter {
  border: 1px solid currentColor;
}

.content__figure {
  margin-block: 7%;
  width: calc(100% + 10vi);
  position: relative;
  left: calc(-5vi);
}

.content__picture {
  width: 100%;
}

.content__picture-caption {
  padding-block: 20px;
  font-size: 18px;
  border-block-end: 1px solid currentColor;
  text-align: center;
}

.content__card {
  width: 100%;
  aspect-ratio: 4 / 3;
  margin-block-start: 7%;
  border: 1px solid currentColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content__card-title {
  color: currentColor;
  text-align: center;
  font-family: var(--accent-font);
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 90%;
}

.content__card-subtitle {
  text-align: center;
}

.colored-text {
  position: relative;
  display: inline-block;
}

.colored-text::after {
  content: '';
  position: absolute;
  left: -1%; 
  right: -1%;
  top: 60%;
  height: 0.25em;
  background-color: var(--accent-color);
  z-index: -1;
}

.theme_dark .colored-text::after{
  content: '';
  background: url('../images/pattern.svg');
}

footer {
  margin-block-start: 10%;
  padding: 2.5%;
  width: 100%;
  border-block-start: 1px solid currentColor;
  text-align: center;
}

.footer__copyright {
  font-size: 18px;
  text-transform: uppercase;
}